@model BookModel

<div class="col-md-4 ">
    <div class="card" style="width: 18rem;">
        <img src="@(string.IsNullOrEmpty(Model.CoverImageUrl)?"/images/bookImage/NoCoverImage.jpg":Model.CoverImageUrl)" class="img-thumbnail" />
        <div class="card-body">
            <h5 class="card-title">@(string.IsNullOrEmpty(Model.Title)?"Name is not available": Model.Title)</h5>
            <p class="card-text">@(string.IsNullOrEmpty(Model.Description)?"Description is not available": Model.Description)</p>
            <div class="d-flex justify-content-between align-items-center">
                <a asp-controller="book" asp-action="getbook" asp-route-id="@Model.Id" class="btn btn-primary @((Model.Id)==0?"disabled":" ")">details</a>
                <small>@Model.Author</small>
            </div>
        </div>
    </div>
</div>